
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Baroque Style Oil Painting</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="thumbnail-gallery.css">

</head>

<body background="../../../media/background.jpeg">

<div class="container gallery-container">

    <h1>Meir Levinger's Art</h1>

    <p class="page-description text-center">Baroque Style Oil Painting</p>

    <div class="tz-gallery">

        <div class="row">


             <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../../../media/windy.jpg">
                        <img src="../../../media/windy.jpg" alt="Park">
                    </a>
                    <div class="caption">
                        <h3>Portrait of Miss Windy M. Moore, San Francisco</h3>
                        <p>Portrait of Miss Windy M. Moore, San Francisco
                            Oil on linen, 1999, 20"x16"</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../../../media/lastsupper.jpg">
                        <img src="../../../media/lastsupper.jpg" alt="Park">
                    </a>
                    <div class="caption">
                        <h3>Last Supper</h3>
                        <p>Last Supper in Zion Square
                            Oil on linen, 1988, 20"x20"
(                           based on a photograph by Dr. Yael Yairi, Tel Aviv)</p>
                    </div>
                </div>
            </div>
        <div class="row">

         <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../../../media/ladycoffee.jpg">
                        <img src="../../../media/ladycoffee.jpg" alt="Park">
                    </a>
                    <div class="caption">
                        <h3>Lady with a Coffee Pot</h3>
                        <p>Lady with a Coffee Pot
                            Oil on linen, 1993, 28"x20"
                            Artist's collection
                            (based on a photograph by Ilan B'sor, Tel Aviv)</p>
                    </div>
                </div>
         </div>

        <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../../../media/assia.jpg">
                        <img src="../../../media/assia.jpg" alt="Park">
                    </a>
                    <div class="caption">
                        <h3>Portrait of Miss Assia Farber, Jerusalem</h3>
                        <p>Portrait of Miss Assia Farber, Jerusalem
                            Oil on wood panel, 1998, 16"x12"</p>
                    </div>
                </div>
            </div>


        <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../../../media/nude-v3.jpg">
                        <img src="../../../media/nude-v3.jpg" alt="Park">
                    </a>
                    <div class="caption">
                        <h3>Nude 3</h3>
                        <p>Nude 3
                            Egg tempra and oil on panel , 2001, 8"x10"</p>
                    </div>
                </div>
            </div>

        <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="../../../media/meirav.jpg">
                        <img src="../../../media/meirav.jpg" alt="Park">
                    </a>
                    <div class="caption">
                        <h3>Portait of Mrs. Meirav Nitzan of Mountain View</h3>
                        <p>Portait of Mrs. Meirav Nitzan of Mountain View
                            Oil on board, 2000, 8"x10"</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>

    <table border=0 width=490 cellpadding=2 cellspacing=2>
    <tr><td>
      <font face="Arial, Helvetica" size=2>
        NOTICE OF COPYRIGHT: It is ILLEGAL to copy or reproduce these photographs elsewhere in any format without site owners written permission, and violators of this Federal Law will be subject to its civil and criminal penalties.
      </font>
    </td></tr>
  </table></center><p><center>

      Designed By <strong><a href="Anonym" target="blank">Anonym</a></strong>
    </font></center>

</body>
</html>